{% extends "base.jinja2" %}

{% block content %}
<h1>Home</h1>
{% endblock content %}

  <p>This is a stock portfolio. Please make an account and login to view your portfolio</p>

  <footer>
      <p>&copy; 2018 Thanks for visiting!</p>
  </footer>
</body>
</html>
