{% extends "base.jinja2" %}

{% block content %}

<h1>Stock Portfolio</h1>
<p>A list of your current stocks</p>

{% for stock in stocks %}
<table id="portfolio-table">
  <tr>
    <th>Stock Ticker Symbol</td>
    <th>Price Per Share</td>
  </tr>
  <tr>
    <td>{{stock.symbol}}</td>
    <td>{{stock.companyName}}</td>
  </tr>

</table>
{% endfor %}

{% endblock content %}
