{% extends "base.jinja2" %}

{% block content %}
<h1>Stock Detail</h1>
<table id="detail-table">
  <h3>{{stock.symbol}}</h3>
  <tr>
    <th>Price</th>
    <td>{{stock.companyName}}</td>
  </tr>
  <tr>
    <th>Change</td>
    <td>{{stock.exchange}}</td>
  </tr>
  <tr>
    <th>Opening Price</th>
    <td>{{stock.industry}}</td>
  </tr>
  <tr>
    <th>Closing Price</th>
    <td>{{stock.sector}}</td>
  </tr>
  <tr>
    <th>Volume</th>
    <td>{{stock.website}}</td>
  </tr>
</table>


{% endblock content %}




