{% extends "base.jinja2" %}

{% block content %}
<h1>Stock Detail</h1>
<table id="detail-table">
  <h3>MSFT</h3>
  <tr>
    <th>Price</th>
    <td>93.4</td>
  </tr>
  <tr>
    <th>Change</td>
    <td>89.9</td>
  </tr>
  <tr>
    <th>Opening Price</th>
    <td>90.8</td>
  </tr>
  <tr>
    <th>Closing Price</th>
    <td>91.27</td>
  </tr>
  <tr>
    <th>Volume</th>
    <td>45,867,548</td>
  </tr>
</table>


{% endblock content %}




