{% extends "base.jinja2" %}

{% block content %}
<h1>Search</h1>
<p>Please search for ticker symbol to add to the stock to your portfolio</p>

<form id="add-form" method="PUT" action="{{}}">
  <label for="ticker">Stock Ticker</label>
  <input type="text" name="ticker">
  <button type="submit">Search</button>

  <button type="submit">Add to Portfolio</button>
</form>

{% endblock content %}
