{% extends "base.jinja2" %}

{% block content %}
<h1>Stock Detail</h1>
<table id="detail-table">
  <h3>{{stock.symbol}}</h3>
  <tr>
    <th>Company Name</th>
    <td>{{stock.companyName}}</td>
  </tr>
  <tr>
    <th>Exchange</td>
    <td>{{stock.exchange}}</td>
  </tr>
  <tr>
    <th>Industry</th>
    <td>{{stock.industry}}</td>
  </tr>
  <tr>
    <th>Website</th>
    <td>{{stock.website}}</td>
  </tr>
  <tr>
    <th>Description</th>
    <td>{{stock.description}}</td>
  </tr>
  <tr>
    <th>CEO</th>
    <td>{{stock.CEO}}</td>
  </tr>
  <tr>
    <th>Issue Type</th>
    <td>{{stock.issueType}}</td>
  </tr>
  <tr>
    <th>Sector</th>
    <td>{{stock.sector}}</td>
  </tr>
</table>


{% endblock content %}



