{% extends "base.jinja2" %}

{% block content %}
<h1>Search</h1>
<p>Please search for a ticker symbol to add new stocks to your portfolio</p>

<form id="search-form" method="GET" action="{{request.route_url('stock')}}">
  <label for="symbol">Stock Ticker</label>
  <input type="text" name="symbol" required>
  <button type="submit">Search</button>
  <p>(Examples: MSFT, GE, AMZN)</p>

</form>

{% if company %}
<div>
  <h3>Result:</h3>
  <p>Symbol: {{company.symbol}}<br>
  Company Name: {{company.companyName}}<br>
  Exchange: {{company.exchange}}<br>
  Industry: {{company.industry}}<br>
  Website: {{company.website}}<br>
  Description: {{company.description}}<br>
  CEO: {{company.CEO}}<br>
  Issue Type: {{company.issueType}}<br>
  Sector: {{company.sector}}</p>
</div>

<form id="add-form" method="POST" action="{{request.route_url('stock')}}">
  <input type="hidden" name="csrf_token" value="{{request.session.get_csrf_token()}}">
  <!-- <input type="hidden" name="symbol" value="{{company.symbol}}"> -->
  <button type="submit" name="symbol" value="{{company.symbol}}">Add to Portfolio</button>
</form>
{% endif%}

{% if err %}
<h3>Result:</h3>
<p>{{err}}</p>
{% endif%}

{% endblock content %}
